@page
@using System.Globalization;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;


@model IndexModel
@{
    ViewData["Title"] = "Home page | Foot Moon - The movie";

    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;

    var nowUtc = DateTime.UtcNow;


    //PENSER A CHANGER LA DISPO DANS LE LAYOUT AUSSI POUR LES ELEMENTS DU MENU
    var year = 2023;
    var month = 12;
    var day = 15;
    var hours = 12;
    var minutes = 0;

    long ticks = new DateTime(year, month, day, hours, minutes, 0,
    new CultureInfo("en-US", false).Calendar).Ticks;

    var realeaseDatetime = new DateTime(ticks);

    bool showAllSection = false;
    bool showFotoSection = true;
    string bgColortoAdd = "";
    string txtColortoAdd = "";
}
<section class="skrollable u-clearfix u-image u-parallax u-section-1" id="sec-76a9" data-image-width="3840" data-image-height="2160" style="background-color:#000000 !important">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-align-center u-image u-image-contain u-image-default u-image-1" src="images/titleb1.png" alt="" data-image-width="1175" data-image-height="180" data-lang-fr="" data-lang-ena="">
        <img class="u-align-center u-image u-image-contain u-image-default u-image-2" src="images/titlec1.png" alt="" data-image-width="1175" data-image-height="100" data-lang-fr="" data-lang-ena="">
        <p class="u-align-center u-custom-font u-text u-text-grey-25 u-text-1" style="" data-lang-ena="in Mexico" data-lang-fr="in Mexico">@Localizer["InMexico"]</p>
        
   
        <img class="u-align-center u-expanded-width-xs u-image u-image-contain u-image-default u-image-3" src="images/body3.png" alt="" data-image-width="1527" data-image-height="1378" data-lang-fr="" data-lang-ena="">
        <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-2" style="font-family: agency FB;">@Localizer["SelectLang"]</p>

        <span class="u-file-icon u-icon u-icon-1"><a href="/?culture=en-US"><img src="images/330425.png" alt=""></a></span>
        <span class="u-file-icon u-icon u-icon-2"><a href="/?culture=fr-FR"><img src="images/330490.png" alt=""></a></span>
        <span class="u-file-icon u-icon u-icon-3"><a href="/?culture=es-ES"><img src="images/330557.png" alt=""></a></span>
        
        
        @if (DateTime.Now >= realeaseDatetime || showAllSection)
        {
                        <a href="https://shop.footmoon.com"  target="_blank" class="u-align-center u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-hover-palette-1-base u-button-style u-none u-radius-50 u-btn-1" >@Localizer["shop"]</a>
            <a href="#sec-e1b0" class="u-align-center u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-1" style="margin-top:10px;">@Localizer["WatchIntro"]</a>
            <a href="https://watch.footmoon.com/products" target="_blank" class="u-align-center u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style  u-none u-radius-50 u-btn-1" style="border-color:#f1c50e !important; color:#f1c50e !important;margin-top:10px">@Localizer["WatchFullMovie"]</a>


        }
        else
        {

            <a href="https://shop.footmoon.com" target="_blank" class="u-align-center u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-hover-palette-1-base u-button-style u-none u-radius-50 u-btn-1">@Localizer["shop"]</a>
            <a href="https://watch.footmoon.com/products" target="_blank" class="u-align-center u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-hover-palette-1-base u-button-style u-none u-radius-50 u-btn-1" style="margin-top:10px;">@Localizer["pre_order"]</a>
            <a href="#sec-5161" class="u-align-center u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style  u-none u-radius-50 u-btn-1" style="border-color:#f1c50e !important; color:#f1c50e !important;margin-top:10px">@Localizer["watch_trailer"]</a>
        
     
        
        }


       
        <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-3" style="font-family: agency FB;">@Localizer["acroche"]</p>
       <br />

        <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-4" style="font-family: agency FB; font-size: large;text-align: justify;" >@Localizer["details"]</p>
        <div class="u-align-center  u-spacing-5" style="margin-top:50px;">
        <a class="" title="Rate the movie on IMDB"  target="_blank" href="https://www.imdb.com/title/tt28703589/"><img src="~/images/imdb.png" style="height:35px;" /></a>  <a class="" title="Rate the movie on IMDB"  target="_blank" href="https://www.shortverse.com/films/foot-moon"><img src="~/images/shortverse.webp" style="height:35px;margin-left:30px;" /></a>
            </div>

        <div class="u-align-center u-social-icons u-spacing-10 u-social-icons-1">
            <a class="u-social-url" title="instagram" target="_blank" href="https://www.youtube.com/@@backaflipa">
                <span class="u-icon u-social-icon u-social-instagram u-text-white">
                    <img src="~/images/youtubewhite.png" style="height:auto;" />
                </span>
            </a>
            <a class="u-social-url" title="facebook" target="_blank" href="https://www.facebook.com/footmoon.themovie">
                <span class="u-icon u-social-facebook u-social-icon u-text-white">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0d1f"></use></svg>
                    <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-0d1f">
                        <path fill="currentColor" d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2
c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path>
                    </svg>
                </span>
            </a>
    
            <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/footmoon.themovie/">
                <span class="u-icon u-social-icon u-social-instagram u-text-white">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-548b"></use></svg>
                    <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-548b">
                        <path fill="currentColor" d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z
	 M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path>
                        <path fill="#FFFFFF" d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path>
                        <path fill="currentColor" d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7
	V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7
	c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path>
                    </svg>
                </span>
            </a>
        
            <a class="u-social-url" title="instagram" target="_blank" href="https://www.tiktok.com/@@backa.flipa">
                <span class="u-icon u-social-icon u-social-instagram u-text-white">
                       <img src="~/images/tiktokwhite.png" style="height:auto;" />
                </span>
            </a>
          
        </div>
        <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-5" style="font-family: agency FB;">* @Localizer["MakeComments"]</p>
        </div>
</section>

@if (DateTime.Now < realeaseDatetime && !showAllSection)
{
    bgColortoAdd = "#ffffff !important";

    <section class="skrollable u-align-center u-clearfix u-image u-parallax u-section-2" id="sec-d0a9" data-image-width="2271" data-image-height="1276" style="background-color:@bgColortoAdd">

        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-1"  style="font-family: agency FB;" data-lang-fr=" Something wow is Coming...&amp;nbsp;<br>" data-lang-ena=" Something wow is Coming in...&amp;nbsp;<br>">
                @Localizer["MovieOnlineIn"]<br>
            </h2>
          
            <div class="u-align-center-xs u-countdown u-countdown-1">

                <div class="u-countdown-wrapper u-spacing-30">
                    <div class="u-countdown-separator u-hidden u-text-grey-90 u-countdown-separator-1"></div>
                    <div class=" u-countdown-item u-radius-22 u-spacing-15 u-white u-countdown-item-2">
                        <div class=" u-countdown-counter-2"><div class="u-text-grey-90" id="DaysNum" style="font-family: agency FB;"></div></div>
                        <div class="u-countdown-label u-countdown-label-2" style="font-family: agency FB;">@Localizer["days"]</div>
                    </div>
                    <div class="u-countdown-separator u-text-grey-90 u-countdown-separator-2"></div>
                    <div class=" u-countdown-item u-radius-22 u-spacing-15 u-white u-countdown-item-3">
                        <div class="u-countdown-counter-3"><div class=" u-text-grey-90" id="HoursNum" style="font-family: agency FB;"></div></div>
                        <div class="u-countdown-label u-countdown-label-3" style="font-family: agency FB;">@Localizer["hours"]</div>
                    </div>
                    <div class="u-countdown-separator u-text-grey-90 u-countdown-separator-3"></div>
                    <div class="u-countdown-item u-countdown-minutes u-radius-22 u-spacing-15 u-white u-countdown-item-4">
                        <div class=" u-countdown-counter-4"><div class="u-text-grey-90" id="MinutesNum" style="font-family: agency FB;"></div></div>
                        <div class="u-countdown-label u-countdown-label-4" style="font-family: agency FB;">@Localizer["minutes"]</div>
                    </div>
                </div>
                
                <h2 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-2" style="font-family: agency FB;    margin-top: 50px;" style="text-transform:lowercase" >
                    @*<span style="font-size:2.25rem;">Online release</span> <br>*@
                   
                    @Localizer["ReleaseDate"]
                    
                </h2>
                <div class="u-countdown-message u-hidden">
                    <p></p>
                </div>
            </div>
            <div class="u-align-center-xs u-container-style u-custom-color-2 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-radius-30 u-shape-round u-group-1">
                <div class="u-container-layout u-container-layout-1">


                    <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-custom-font u-text u-text-default u-text-3" style="font-family: agency FB;" data-lang-ena="​Don't miss it !" data-lang-fr="Don't miss it !">@Localizer["dontMissIt"]</h2>
                    <div class="u-absolute-hcenter u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
                    <br/>
                    <a href="https://watch.footmoon.com/products" class=" u-absolute-hcenter  u-align-center u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-1" style="border-color:#f1c50e !important; color:#f1c50e !important">@Localizer["pre_order"]</a>

                    <p class="u-align-center-lg u-align-center-md u-align-center-xl u-custom-font u-text u-text-4" style="font-family: agency FB;" data-lang-fr="" data-lang-ena="​">@Localizer["OrRemindMe"]</p>

                    <div class="u-form u-form-1">
                        <form method="post" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" source="email">
                            <div class="u-form-email u-form-group u-label-none">
                                <label class="u-label" data-lang-fr="Email" data-lang-ena="Email">Email</label>
                                <input type="email" placeholder="Email" id="email-558c" name="email" class="u-input u-input-rectangle" required="" data-lang-fr="Email" data-lang-ena="Email">
                            </div>
                            <div class="u-form-group u-form-submit u-label-none">
                                <a class="u-btn u-btn-submit u-button-style u-palette-3-base u-btn-1" >@Localizer["OkRemindMe"]</a>
                                <input type="submit" value="submit" class="u-form-control-hidden">

                            </div>
                            <div class="u-form-send-message u-form-send-success" data-lang-fr="" data-lang-ena="">@Localizer["thxEmaill"]</div>
                            <div class="u-form-send-error u-form-send-message" data-lang-fr="Unable to send your message. Please fix " data-lang-ena="">@Localizer["thxEmaill"]</div>
                            <input type="hidden" value="" name="recaptchaResponse">
                            <input type="hidden" name="formServices" value="1d3f738f7d23a9e99f68fa8551e4ca13">
                        </form>
                    </div>
                </div>
            </div>
            <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-5" style="font-family: agency FB;">@Localizer["WannaBe"]</p>
            <a href="Footmoon-the-movie.html#sec-8a7d" class="u-align-center u-border-none u-btn u-button-style u-palette-3-base u-btn-2" data-lang-fr="{&quot;content&quot;:&quot;​<span class=\&quot; u-file-icon u-icon\&quot; style=\&quot;\&quot;><img src=\&quot;images/10289675.png\&quot; alt=\&quot;\&quot; data-original-src=\&quot;images/10289675.png\&quot; data-color=\&quot;#000000\&quot;></span>&amp;nbsp;contact us&quot;,&quot;href&quot;:&quot;&quot;}" data-lang-ena="{&quot;content&quot;:&quot;​<span class=\&quot;u-file-icon u-icon u-block-control\&quot; style=\&quot;\&quot; data-block=\&quot;29\&quot;><img src=\&quot;images/10289675.png\&quot; alt=\&quot;\&quot; data-original-src=\&quot;images/10289675.png\&quot; data-color=\&quot;#000000\&quot;></span>&amp;nbsp;contact us&quot;,&quot;href&quot;:&quot;281106830#sec-8a7d&quot;}">
                <span class="u-file-icon u-icon"><img src="images/10289675.png" alt=""></span>&nbsp;@Localizer["contactUs"]
            </a>
        </div>
    </section>
}
else
{
    bgColortoAdd = "#030432 !important";
}










@if (DateTime.Now < realeaseDatetime && !showAllSection)
{
     bgColortoAdd = "#ffffff !important";
    txtColortoAdd = "#111111 !important";
}
else
{
    
     bgColortoAdd = "black !important";
    txtColortoAdd = "#ffffff !important";
}


<section class="skrollable u-align-center u-clearfix u-custom-color-1 u-section-3" id="sec-5161"  style="background-color:@bgColortoAdd">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-white u-text-1" style="color:@txtColortoAdd;font-family: agency FB;">@Localizer["Trailer"]</h2>
        <p class="u-align-center u-custom-font u-text u-text-2" style="color:@txtColortoAdd;font-family: agency FB;" data-lang-fr="Are you ready to go to the moon with Julien Cudot?" data-lang-ena="Are you ready to go to the moon with Julien Cudot?">@Localizer["AreUReady"]</p>
            <div class="u-align-left u-video u-video-1">
                <div class="embed-responsive embed-responsive-1">
                <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/wila6McXx0A" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        <p class="u-align-center u-custom-font u-text u-text-3" style="color:@txtColortoAdd;font-family: agency FB;" data-lang-ena="* Select the language of you choice using the subtitles available in the youtube player" data-lang-fr="* Select the language of you choice using the subtitles available in the youtube player">* @Localizer["langSubMess"]</p>
        </div>
    </section>



@if (DateTime.Now >= realeaseDatetime || showAllSection)
{
    <section class="u-align-center u-clearfix u-section-4" id="sec-e1b0">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-text u-text-1" data-lang-fr="introduction section" data-lang-ena="introduction section" style="font-family: agency FB;">Introduction</h2>
            <p class="u-align-center u-custom-font u-text u-text-2" style="font-family: agency FB;" > @Localizer["sinceofficial"] </p>
            <div class="u-video u-video-1">
                <div class="embed-responsive embed-responsive-1">
                    <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/6JVTcjgRebc" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <p class="u-align-center u-custom-font u-text u-text-3" style="font-family: agency FB;" data-lang-ena="​* Select the language of you choice using the subtitles available in the youtube player" data-lang-fr="​* Select the language of you choice using the subtitles available in the youtube player"> * @Localizer["langSubMess"]</p>
        </div>
    </section>






    <section class="skrollable u-clearfix u-image u-parallax u-section-5" id="carousel_344b" data-image-width="2280" data-image-height="1204" style="background-color:#030432">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h3 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-1" style="font-family: agency FB;" data-lang-fr="Watch the full movie" data-lang-ena="Watch the full movie"> @Localizer["fullMovie"] </h3>
            <h5 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-2" style="font-family: agency FB;">
                WoW ! Rollerblading is fuckin' dope !!! <br>
            </h5>
            <a href="https://watch.footmoon.com/products" class="u-align-center u-border-none u-btn u-button-style u-palette-3-light-1 u-btn-1" data-lang-fr="{&quot;content&quot;:&quot;​<span class=\&quot;u-icon-1 u-file-icon u-icon\&quot; style=\&quot;font-size: 1.6876em; margin-right: 9px; vertical-align: -5px\&quot;><img src=\&quot;images/4204016.png\&quot; alt=\&quot;\&quot; data-original-src=\&quot;images/4204016.png\&quot; data-color=\&quot;#000000\&quot;></span>&amp;nbsp;Let'S watch it!<br>&quot;,&quot;href&quot;:&quot;https://nicepage.cc&quot;}" data-lang-ena="{&quot;content&quot;:&quot;​<span class=\&quot;u-file-icon u-icon u-block-control u-icon-1\&quot; style=\&quot;font-size: 1.6876em; margin-right: 9px; vertical-align: -5px\&quot; data-block=\&quot;45\&quot;><img src=\&quot;images/4204016.png\&quot; alt=\&quot;\&quot; data-original-src=\&quot;images/4204016.png\&quot; data-color=\&quot;#000000\&quot;></span>&amp;nbsp;Let'S watch it!<br>&quot;,&quot;href&quot;:&quot;https://nicepage.cc&quot;}">
                <span class="u-file-icon u-icon u-icon-1"><img src="images/4204016.png" alt=""></span>@Localizer["LetWatchIt"]<br>
            </a>


            <a href="/images/watchOnTv.PNG"  target="_blank" class="u-align-center u-border-none" style="color:white">
              @Localizer["HowWatchIt"]  
            </a>
        </div>
    </section>


}



@if (showFotoSection)
{


    <section class="u-align-center u-clearfix u-custom-color-1 u-section-8" id="sec-f959" style="background-color:black;">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-custom-font u-text u-text-default u-text-1" style="font-family: agency FB;" data-lang-fr="Photos" data-lang-ena="Photos">@SharedLocalizer["MenuSubItemPhotos"]</h1>
            <div class="u-carousel u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-none u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-6f0c">
                <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="3" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="4" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="5" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="6" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="7" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="8" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="9" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="10" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="11" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="12" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="13" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="14" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="15" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="16" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="17" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="18" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    <li data-u-target="#carousel-6f0c" data-u-slide-to="19" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                </ol>
                <div class="u-carousel-inner u-gallery-inner" role="listbox">
                    <div class="u-carousel-item u-gallery-item u-carousel-item-1">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/univ.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-1"></div>
                    </div>
                    <div class="u-active u-carousel-item u-gallery-item u-carousel-item-2">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="852">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/sequence.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-2"></div>
                    </div>

                    <div class="u-carousel-item u-gallery-item u-carousel-item-3" data-image-width="1280" loading="lazy" data-image-height="831">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/poto.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-3"></div>
                        <style data-mode="XL" data-visited="true"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-4" data-image-width="1280" loading="lazy" data-image-height="863">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/tsoul.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-4"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-5" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/jukid.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-5"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-6" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/frybast.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-6"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-7" data-image-width="1280" loading="lazy" data-image-height="855">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/itw.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-7"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-8" data-image-width="1280" loading="lazy" data-image-height="854">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/jubc.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-8"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-9" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/jutsoul.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-9"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-10" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/dinner.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-10"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-11" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/city.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-11"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-12" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/fry.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-12"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-13" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/fish.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-13"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-14" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/pino.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-14"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-15" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/alfa.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-15"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-16" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/alfaju.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-16"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-17" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/backflip.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-17"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-18" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/apero.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-18"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-19" data-image-width="1280" loading="lazy" data-image-height="720">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/bastsoul.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-19"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                    <div class="u-carousel-item u-gallery-item u-carousel-item-20" data-image-width="1280" loading="lazy" data-image-height="853">
                        <div class="u-back-slide">
                            <img class="u-back-image u-expanded" src="/images/tof_tom/bs.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-20"></div>
                        <style data-mode="XL"></style>
                        <style data-mode="LG" data-visited="true"></style>
                        <style data-mode="MD" data-visited="true"></style>
                        <style data-mode="SM" data-visited="true"></style>
                        <style data-mode="XS" data-visited="true"></style>
                    </div>
                </div>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-6f0c" role="button" data-u-slide="prev">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-6f0c" role="button" data-u-slide="next">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                </a>
            </div>
             <p class="u-align-center u-custom-font u-text u-text-3" style="color:white;font-family: agency FB;">* @Localizer["ClickOnIt"]</p>
     
            
            <p class="u-custom-font u-text u-text-body-alt-color u-text-default u-text-2" style="font-family: agency FB;" data-lang-fr="" data-lang-ena="">@Localizer["PhotoByThoma"] <a target="_blank" style="color:white" href="https://www.behance.net/KmuTh">Thomas Camus</a></p> 
            <p class="" style="font-family: agency FB;"></p>
        </div>
    </section>

}






<section class="skrollable u-align-center u-clearfix u-image skrollable-betweenu-custom-color-1  u-section-7" style="height:500px; background-image: url(images/tigre2.jpg);" id="comments">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" style="font-family: agency FB;text-shadow:0px 2px 8px rgba(0,0,0,1)">@SharedLocalizer["MenuSubItemComments"]</h1>



        <div id="myCarousel2" class="carousel slide" data-ride="carousel" style=" margin-top:70px;">

            <!-- Indicators -->
            @*  <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>*@

            <div class="carousel-inner" style="text-shadow:0px 2px 8px rgba(0,0,0,1)">
                <div class="carousel-item active">

                    " @Localizer["comment1"] "
                </div>
                <div class="carousel-item">
                    " @Localizer["comment2"] "
                </div>
                <div class="carousel-item">
                    " @Localizer["comment3"] "
                </div>
            
            </div>



            <!-- Left and right controls -->
            @*             <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>*@


        </div>





    </div>

</section>


<section class="skrollable u-align-center u-clearfix u-parallax u-white u-section-7" src="" id="sec-8a7d">
    <div class="u-clearfix u-sheet u-sheet-1" style="margin-bottom:50px;">
        <h3 class="u-custom-font u-text u-text-1" style="font-family: agency FB;" data-lang-fr="Contact us" data-lang-ena="Contact us">@SharedLocalizer["MenuSubItemContact"]</h3>
        <p class="u-custom-font u-text u-text-2" style="font-family: agency FB;">
            contact@footmoon.com
        </p>
        <p class="u-custom-font u-text u-text-2" style="font-family: agency FB;">What's app : +33 7 66 40 22 91</p>

    </div>

</section>

<section class="skrollable u-align-center u-clearfix u-image u-parallax skrollable-betweenu-custom-color-1  u-section-6" style="background-image: url(images/frey.jpg);" id="sec-part">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" data-lang-fr="Our partners" data-lang-ena="Our partners" style="font-family: agency FB;width: 300px;">@SharedLocalizer["MenuSubItemPartners"]</h1>
        <p class="u-custom-font u-text u-text-body-alt-color u-text-default u-text-2" style="font-family: agency FB;" data-lang-fr="We would like to thanks all our partners for their help and trust">@Localizer["thxParteners"]</p>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1" style="font-family: agency FB;">
                        <div alt="" class="u-image u-image-circle u-image-1" data-image-width="500" data-image-height="500"></div>
                        <h4 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-default u-text-3" style="font-family: agency FB;">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1" href="https://www.solo-inline.com/" style="text-decoration:underline">Solo inline</a>
                        </h4>
                        <p class="u-custom-font u-text u-text-body-alt-color u-text-4" style="font-family: agency FB;">Tout pour le roller ! Solo Inline est la première boutique spécialisée en patins à roues alignés au Québec</p>

                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2" style="font-family: agency FB;">
                        <div alt="" class="u-image u-image-circle u-image-2" data-image-width="356" data-image-height="356"></div>
                        <h4 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-default u-text-5" style="font-family: agency FB;">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-2" href="https://www.mglisse.com/" style="text-decoration:underline" target="_blank">Metropole Glisse</a>
                        </h4>
                        <p class="u-custom-font u-text u-text-body-alt-color u-text-6" style="font-family: agency FB;">votre club de sport spécialisé dans le développement et l'enseignement des sports de glisses urbaines</p>
                        @*  <div class="u-social-icons u-spacing-10 u-social-icons-2">
                        <a class="u-social-url" target="_blank" href="" title="fise officiel facebook">
                        <span class="u-icon u-icon-circle u-social-facebook u-social-icon u-text-white u-icon-4">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7a73"></use></svg>
                        <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-7a73" class="u-svg-content"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg>
                        </span>
                        </a>
                        <a class="u-social-url" target="_blank" href="" title="fise world twitter">
                        <span class="u-icon u-icon-circle u-social-icon u-social-twitter u-text-white u-icon-5">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3fbc"></use></svg>
                        <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-3fbc" class="u-svg-content"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg>
                        </span>
                        </a>
                        <a class="u-social-url" target="_blank" href="" title="fise world instagram">
                        <span class="u-icon u-icon-circle u-social-icon u-social-instagram u-text-white u-icon-6">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4bc0"></use></svg>
                        <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-4bc0" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg>
                        </span>
                        </a>
                        </div>*@
                    </div>
                </div>
               @* <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3" style="font-family: agency FB;">
                        <div alt="" class="u-image u-image-circle u-image-3" data-image-width="548" data-image-height="549"></div>
                        <h4 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-default u-text-7" style="font-family: agency FB;">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3" href="" target="_blank">Partner 3</a>
                        </h4>
                        <p class="u-custom-font u-text u-text-body-alt-color u-text-8" style="font-family: agency FB;">Short description</p>

                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>



@if (DateTime.Now >= realeaseDatetime || showAllSection)
{

    <section class="skrollable u-align-center u-clearfix u-parallax u-white u-section-8" src="" id="merchs">
        <div class="u-clearfix u-sheet u-sheet-1" style="margin-bottom:70px;">
            <h3 class="u-custom-font u-text u-text-1" style="font-family: agency FB;margin-bottom:30px;">@SharedLocalizer["MenuSubItemMerch"]</h3>


            <div class="image-grid">
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/sweater1.png" loading="lazy" alt="sweater1">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/sweater2.png" loading="lazy" alt="sweater2">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/girl.png" loading="lazy" alt="girl">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/boy.png" loading="lazy" alt="boy">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/cap.png" loading="lazy" alt="cap">
                </a>

                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/beanie.png" loading="lazy" alt="beanie">
                </a>

                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/hat.png" loading="lazy" alt="hat">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/bagpack.png" loading="lazy" alt="bagpack">
                </a>

                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/phonecase.png" loading="lazy" alt="phonecase">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/sportbag.png" loading="lazy" alt="sportbag">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/poster.png" loading="lazy" alt="poster">
                </a>
                <a href="https://shop.footmoon.com">
                    <img src="~/images/merchs/mousepad.png" loading="lazy" alt="mousepad">
                </a>
            </div>


        </div>
    </section>
}





<section class="skrollable u-align-center u-clearfix u-custom-color-2 u-parallax u-section-8" id="sec-6cfe">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" style="font-family: agency FB;width: 300px;" data-lang-fr="Our partners" data-lang-ena="Our partners">@SharedLocalizer["MenuSubItemAwards"] </h1>
        <p class="u-custom-font u-text u-text-body-alt-color u-text-default u-text-2" style="font-family: agency FB;"> @Localizer["cannes"] </p>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            @*  <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>*@

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img loading="lazy" class="w-75" src="~/images/rewards/Foot Moon award - best short docu.jpg">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" class="w-75" src="~/images/rewards/Foot Moon award - best sport docu.jpg">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" class="w-75" src="~/images/rewards/PFF_FootMoon.png">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" class="w-75" src="~/images/rewards/westaward.jpg">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" class="w-75" src="~/images/rewards/top_short_film.png">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" class="w-75" src="~/images/rewards/Creation.jpg">
                </div>
            </div>



            <!-- Left and right controls -->
            @*             <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>*@


        </div>


    </div>
</section>


                
@section Scripts {


    <script>



        $(document).ready(function () {



            $(function () {
                $('#myCarousel').carousel({ interval: 3000 })
                $('#myCarousel2').carousel({ interval: 4500 })



            })


                  if ('serviceWorker' in navigator) {
                navigator.serviceWorker
                    .register('/sw.js')
                    .then(() => { });
            }

            //let deferredPrompt;
            const addBtn = document.querySelector('.add-button');

            //if (addBtn != null) addBtn.style.display = 'none';
            //if (addBtnFooter != null)    addBtnFooter.style.display = 'none';
            //if (addBtnWelcome != null)    addBtnWelcome.style.display = 'none';

            window.addEventListener('beforeinstallprompt', (e) => {
                // Prevent Chrome 67 and earlier from automatically showing the prompt
                /*e.preventDefault();*/
                // Stash the event so it can be triggered later.
                deferredPrompt = e;
                // Update UI to notify the user they can add to home screen

                if (addBtn != null) addBtn.style.display = 'block';

                /*deferredPrompt.prompt();*/


            });

            if (addBtn != null) {
                addBtn.addEventListener('click', () => {
                    // hide our user interface that shows our A2HS button

                    // Show the prompt
                    deferredPrompt.prompt();
                    // Wait for the user to respond to the prompt
                    deferredPrompt.userChoice.then((choiceResult) => {
                        if (choiceResult.outcome === 'accepted') {
                            console.log('User accepted the A2HS prompt');
                        } else {
                            console.log('User dismissed the A2HS prompt');
                        }
                        deferredPrompt = null;
                    });

                    if (addBtn != null) addBtn.style.display = 'none';
                });
            }





            const minute = 1000 * 60;
            const hour = minute * 60;
            const day = hour * 24;
            const year = day * 365;

            //const day = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
            const date_now = Date.now();
            const date_future = new Date(@year, @month-1, @day, @hours, @minutes);

            console.log('date now : '+date_now.toLocaleString());
            console.log('date futur : ' + date_future.toLocaleString());
              
            //const diffDays = Math.round(Math.abs((date_now - date_future) / day));
            //console.log('diffDays : ' + diffDays);
            
            // get total seconds between the times
            var delta = Math.abs(date_future - date_now) / 1000;

            // calculate (and subtract) whole days
            var days = Math.floor(delta / 86400);
            delta -= days * 86400; 
 
            // calculate (and subtract) whole hours
            var hours = Math.floor(delta / 3600) % 24;
            delta -= hours * 3600;

            // calculate (and subtract) whole minutes
            var minutes = Math.floor(delta / 60) % 60;
            delta -= minutes * 60;

            console.log('day : ' + days);
            console.log('hours : ' + hours);
            console.log('minutes : ' + minutes);

            $('#DaysNum').html(days)
            $('#HoursNum').html(hours)
            $('#MinutesNum').html(minutes)



        })

    </script>


}